<%= form_for(projects_user) do |f| %>
  <% if projects_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projects_user.errors.count, "error") %> prohibited this projects_user from being saved:</h2>

      <ul>
      <% projects_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :worker_id %>
    <%= collection_select( :projects_user, :worker_id, Worker.all, :id, :name,{prompt: "Selecciona el empleado", :multiple => false}) %>
  </div>


  <div class="field">
    <%= f.label :project_id %>
    <%= collection_select( :projects_user, :project_id, Project.all, :id, :name,{prompt: "Selecciona el Proyecto", :multiple => false}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
