<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @projects_user.worker %>
</p>

<p>
  <strong>Project:</strong>
  <%= @projects_user.project %>
</p>

<%= link_to 'Edit', edit_projects_user_path(@projects_user) %> |
<%= link_to 'Back', projects_users_path %>
