<style type="text/css">
  .form-control {
        border-radius: 10px;
    }
</style>

<div class="container" style="margin-top:100px">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="form-login">
        <h4 id="h4">Sign up</h4>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, :class=>"form-control input-sm chat-input" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", :class=>"form-control input-sm chat-input" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control input-sm chat-input" %>
          </div>

          <div class="wrapper">
            <div class="actions">
              <span class="group-btn">
                <button class="btn btn-primary btn-md" ><i class="fa fa-sign-in"></i> Sign Up</button>
              </span>
            </div>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
