<div style="width:500px">
    <h1>Periodos</h1>
	<%= form_tag({:controller => "periods_auto", :action =>"index"}, :method => "get") do %>
        <%= label_tag "anio".to_i, "Año" %>
		<%= text_field_tag "anio", "", :size => 4, :maxlenght => 4, :placeholder => "Año", :require => "require", :class=>'form-control'%><br><br>
        <%= submit_tag "Enviar", :class =>'btn btn-primary'%>
	<%end%>
</div>

<div id="resultados">
	<%if @aniovalor%>
		<%if @aniostatus%>
			<h5>se han generado los periodos del año <%= @aniostatus[:status]%> </h5>
		<%else%>
			<h5>Ingresa el año al cual se generaran los periodos</h5>
		<%end%>
	<%end%>
</div>
