<div style="width:500px">

<%= form_for(period) do |f| %>
  <% if period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(period.errors.count, "error") %> prohibited this period from being saved:</h2>

      <ul>
      <% period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Fecha_inicial %>
    <%= f.date_field :date_start, :class=>'form-control' %>
  </div>

  <div class="field">
    <%= f.label :fecha_final %>
    <%= f.date_field :date_end, :class=>'form-control'  %>
  </div>

  <div class="field">
    <%= f.label :año %>
    <%= f.number_field :year, :class=>'form-control'  %>
  </div>

  <div class="actions">
    <button class="btn btn-primary" type="submit" name="commit" value="Guardar"><i class="fa fa-floppy-o"></i> Guardar</button> 
  </div>
<% end %>
</div>