<p id="notice"><%= notice %></p>

<p>
  <strong>Date start:</strong>
  <%= @period.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @period.date_end %>
</p>

<p>
  <strong>Year:</strong>
  <%= @period.year %>
</p>

<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
