<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :mothers_last_name %>
    <%= f.text_field :mothers_last_name %>
  </div>

  <div class="field">
    <%= f.label :work_position %>
    <%= f.select(:work_position, options_for_select([['Selecciona',0],['Desarrollador jr.', 'Desarrollador jr.'], ['Desarrollador', 'Desarrollador'],['Desarrollador Senior','Desarrollador Senior'],['Practicante','Practicante'],['Asistente','Asistente'],['Lider de proyecto','Lider de proyecto'],['Director','Director']]), {}, {}) %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :cost %>
    <%= f.text_field :cost %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
