<style type="text/css">
  #aprobar .notActive{
    color: #3276b1;
    background-color: #fff;
  }
  #aprobar .active{
    background-color:#33a6cc;
  }
  #rol .notActive{
    color: #3276b1;
    background-color: #fff;
  }
  #rol .active{
    background-color:#33a6cc;
  }
</style>

<table class="uk-table uk-table-hover uk-table-striped">
  <thead>
    <tr>
      <th><h4>Email</h4></th>
      <th><h4>Aprovacion</h4></th>
      <th><h4>Usuario</h4></th>
      <th><h4>Rol</h4></th>
      <th><h4>Actualizó</h4></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @cons.email %></td>
        <td><%= @cons.approved %></td>
        <%if  @cons.worker_id == nil %>
          <td>Sin usuario</td>
        <%else%>
          <td><%= @cons.worker.name %></td>
        <%end%>
        <%if  @cons.roles == nil %>
          <td>Sin rol</td>
        <%else%>
          <td><%= @cons.roles %></td>
        <%end%>
        <%if  @cons.who_update == nil %>
          <td>Sin actualizar</td>
        <%else%>
          <td><%= Worker.names(@cons.who_update) %></td>
        <%end%>
      </tr>
  </tbody>
</table><br>

<%= form_tag(:controller => "users", :action => "approve",  method: "post" )  do %>
    
    <fieldset>
      <div id="aprobar" class="btn-group" style="width:135px;">
        <h6>Aprobar en esta cuenta?</h6>
        <div align="center">
        <a class="btn-primary btn-sm active" data-toggle="happy" data-title="Y"  type="radio" name="ap" id="ap_si" value="si">SI</a>
        <a class="btn-primary btn-sm notActive" data-toggle="happy" data-title="N" type="radio" name="ap" id="ap_no" value="no">NO</a>
        </div>
      </div>
    </fieldset><br><br>

    <div class="field" style="width:50%">
      <h6>Persona asignada a esta cuenta:</h6>
      <%= collection_select( :user, :worker_id, @usuarios, :id, :name,{prompt: "Selecciona a la persona",:selected => @cons.worker_id, :multiple => false}, :class=>'form-control',:required => "required") %>
    </div><br>

    <fieldset style="width:150px;">
      <div align="center">
      <div id="rol" class="btn-group">
        <h6>Tipo de rol de cuenta:</h6>
        <a class="btn-primary btn-sm active" data-toggle="happy2" data-title="user"  type="radio" name="rol" id="rol_user" value="user">USUARIO</a>
        <a class="btn-primary btn-sm notActive" data-toggle="happy2" data-title="adm"  type="radio" name="rol" id="rol_admin" value="admin">ADMIN</a>
      </div>
      </div>
    </fieldset><br>
    <div align="center">
      <button class="btn btn-primary" type="submit" name="commit" value="Guardar"><i class="fa fa-floppy-o"></i> Guardar</button>
    </div>
<%end%>
        


<script type="text/javascript">
   $('#aprobar a').on('click', function(){
    var sel = $(this).data('title');
    var tog = $(this).data('toggle');
    $('#'+tog).prop('value', sel);
    
    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
  })

   $('#rol a').on('click', function(){
    var sel = $(this).data('title');
    var tog = $(this).data('toggle');
    $('#'+tog).prop('value', sel);
    
    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
  })
</script>
