<fieldset class="scheduler-border">
  <legend class="scheduler-border" style="width:auto">Usuarios</legend>
  <div align="center" style="margin: 30px 0 50px 0;">
  <%= form_tag(:controller => "users", :action => "index",  method: "post" )  do %>
    
      <div class="btn-group">
      	<button type="submit" name="commit" value="1" class="btn btn-primary">Cuentas aprovadas</button> 
      	<button type="submit" name="commit" value="2" class="btn btn-primary" style="margin-left: 0px; border-left:solid 1px;border-right:solid 1px;">Cuentas NO aprovadas</button> 
      	<button type="submit" name="commit" value="3" class="btn btn-primary" style="margin-left: 0px;">Todas las cuentas </button> 
      </div>
    </div>
  <%end%>
  <table class="uk-table uk-table-hover uk-table-striped">
    <thead>
      <tr>
        <th><h4>Email</h4></th>
        <th><h4>Aprovacion</h4></th>
        <th><h4>Usuario</h4></th>
        <th><h4>Rol</h4></th>
        <th><h4>Actualizò</h4></th>
        <th><h5 style="color:#A4A4A4">Editar</h5></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |u| %>
        <tr>
          <td style="vertical-align:middle"><%= u.email %></td>
          <td style="vertical-align:middle"><%= u.approved %></td>
          <%if  u.worker_id == nil %>
            <td style="vertical-align:middle">Sin usuario</td>
          <%else%>
            <td style="vertical-align:middle"><%= u.worker.name %></td>
          <%end%>
          <%if  u.roles == nil %>
            <td style="vertical-align:middle">Sin rol</td>
          <%else%>
            <td style="vertical-align:middle"><%= u.roles %></td>
          <%end%>
          <%if  u.who_update == nil %>
            <td style="vertical-align:middle">Sin actualizar</td>
          <%else%>
            <td style="vertical-align:middle"><%= Worker.names(u.who_update) %></td>
          <%end%>
          <td style="vertical-align:middle"><i class="fa fa-pencil-square-o" title="editar" style="font-size:30px; color:#A4A4A4" onclick="document.location='<%=approve_path(u)%>'"></i></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>