<style type="text/css">
	.form-control {
        border-radius: 10px;
    }
</style>
<div class="container" style="margin-top:100px">
  	<div class="row">
    	<div class="col-md-offset-4 col-md-4">
      		<div class="form-login">
				<h4 id="h4">Forgot your password?</h4>

				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				  <%= devise_error_messages! %>

				  <div id="log" class="field">
				    <%= f.label :email %><br />
				    <%= f.email_field :email, autofocus: true, :class=>"form-control input-sm chat-input" %>
				  </div>

				<div class="wrapper">
				    <div class="actions">
				        <span class="group-btn">
				            <button class="btn btn-primary btn-md" ><i class="fa fa-sign-in"></i> reset password instructions</button>
				        </span>
				    </div>
				</div>
				<% end %>

				<%= render "devise/shared/links" %>
			</div>
    	</div>
  	</div>
</div>
