<div style="width:50%">
  <%= form_for(client) do |f| %>
    <% if client.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

        <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :nombre %>
      <%= f.text_field :name, :class=>'form-control' %>
    </div>

    <div class="field">
      <%= f.label :Razon_social %>
      <%= f.text_field :financial_name, :class=>'form-control' %>
    </div>

    <div class="field">
      <%= f.label :Direccion %>
      <%= f.text_field :address, :class=>'form-control' %>
    </div>

    <div class="field">
      <%= f.label :Numero_externo %>
      <%= f.number_field :number_ext, :class=>'form-control' %>
    </div>

    <div class="field">
      <%= f.label :Ciudad %>
      <%= f.text_field :city, :class=>'form-control' %>
    </div>

    <div class="field">
      <%= f.label :Estado %>
      <%= f.text_field :state, :class=>'form-control' %>
    </div>

    <div class="field">
      <%= f.label :Pais %>
      <%= f.text_field :country, :class=>'form-control' %>
    </div>

    <div class="field">
      <%= f.label :RFC %>
      <%= f.text_field :rfc, :class=>'form-control' %>
    </div>

    <div class="field">
      <%= f.label :Colonia %>
      <%= f.text_field :colony, :class=>'form-control' %>
    </div>

    <div class="field">
      <%= f.label :Codigo_postal %>
      <%= f.number_field :zip, :class=>'form-control' %>
    </div>

    <div class="field">
      <%= f.label :Compañia %>
      <%= collection_select( :client, :company_id, Company.all, :id, :name,{prompt: "Selecciona la copañia", :multiple => false}, :class=>'form-control') %>
    </div>

    <div class="actions">
      <button class="btn btn-primary" type="submit" name="commit" value="Guardar"><i class="fa fa-floppy-o"></i> Guardar</button> 
    </div>
  <% end %>
</div>