<fieldset class="scheduler-border">
<legend class="scheduler-border" style="width:auto;">Clientes</legend>
    <table id="example" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Razon Social</th>
                    <th>Direccion</th>
                    <th>Numero Externo</th>
                    <th>Ciudad</th>
                    <th>Estado</th>
                    <th>Pais</th>
                    <th>RFC</th>
                    <th>Colonia</th>
                    <th>Codigo Postal</th>
                    <th>Compañia</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody style="text-transform: lowercase;">
              <%@clients.each do |client|%>
                <tr>
                    <td style="vertical-align:middle"><%=client.name%></td>
                    <td style="vertical-align:middle"><%=client.financial_name%></td>
                    <td style="vertical-align:middle"><%=client.address%></td>
                    <td style="vertical-align:middle"><%=client.number_ext%></td>
                    <td style="vertical-align:middle"><%=client.city%></td>
                    <td style="vertical-align:middle"><%=client.state%></td>
                    <td style="vertical-align:middle"><%=client.country%></td>
                    <td style="vertical-align:middle"><%=client.rfc%></td>
                    <td style="vertical-align:middle"><%=client.colony%></td>
                    <td style="vertical-align:middle"><%=client.zip%></td>
                    <td style="vertical-align:middle"><%=client.company.name%></td>
                    <td style="vertical-align:middle"><i class="fa fa-pencil-square-o" title="editar" style="font-size:25px; color:#A4A4A4" onclick="document.location='<%=edit_client_path(client)%>'"></i></td>
                </tr>
              <%end%>
            </tbody>
        </table>

        <br>

        <button class="btn btn-primary" onclick="document.location='/clients/new'"><i class="fa fa-plus-circle" style="color:skyblue"></i> Agregar</button>

</fieldset>

<script type="text/javascript" src="//code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.uikit.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>