<div style=" float:right; font-size:50px; margin:8px 20px;">
	<i class="fa fa-chevron-circle-left" aria-hidden="true" onclick="document.location='/clients'" title="Regresar"></i>
</div>
<h1>Cliente Nuevo</h1>

<%= render 'form', client: @client %>
