<br>

        <div class="panel panel-info">
            <div class="panel-heading"><h2 class="panel-title">Bienvenido</h2></div>
            <div class="panel-body">
                Bienvenido a la mejor aplicacion de todos los tiempos, disfruta del viaje
            </div>
        </div>
