<style type="text/css">
	a:hover {
        background-color: transparent;
        opacity:0.5;
    }

	hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}

  	#dias {
  		background-color: #0099cc;
  	}
  	#dias  input[type="radio"] + i.glyphicon {         
    	opacity: 0;
  	}

  	#dias  input[type="radio"]:checked + i.glyphicon {        
    	opacity: 1;
    	color:white;       
	}

	#cargo.btn.active  input[type="radio"] + span.glyphicon {         
    	opacity: 0;       
  	}
  	#cargo.btn input[type="radio"]:checked + span.glyphicon {        
    	opacity: 1;       
	}

	#reembolso.btn2  input[type="checkbox"]:not(:checked) + span.glyphicon {         
    	opacity: 0;       
  	}
  	#reembolso.btn2.active  input[type="checkbox"]:checked + span.glyphicon {        
    	opacity: 1;       
	}

	#inmiscuidos.btn  input[type="checkbox"]:not(:checked) + span.glyphicon {         
    	opacity: 0;       
  	}
  	#inmiscuidos.btn.active  input[type="checkbox"]:checked + span.glyphicon {        
    	opacity: 1;       
	}

    .btn.active, .btn:active {
    background-image: none;
    outline: 0;
    /* -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125); */
    box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	}
</style>

<%= form_tag(:controller => "hour", :action => "index",  method: "post" )  do %>
	<div align="center">
		<div id="menu"  class="group">
				<h3 style="color:white">Periodo: </h3>
				<label style="height:70px; width:600px; border-radius:35px; background-color:#2e353d;padding:0px 5px 0px 4px">
					<div align="center" style="width:100%;">
						<div style="width:10%; float:left;">
							<%= link_to index_path(@pro,@perbefore), :style=>"color:white;font-size:30px" do %>
								<i class="fa fa-chevron-circle-left" style="font-size:71px;"></i>
							<%end%>
						</div>

						<div style="width:80%; float:left">
							<h2 style="color:white;padding-top:20px"><%= Period.periodo(@per)%></h2>
						</div>

						<div style="width:10%; float:left;">
							<%= link_to  index_path(@pro,@pernext), :style=>"color:white;" do %>
								<i class="fa fa-chevron-circle-right" style="font-size:71px;"></i>
							<%end%>
						</div>
					</div>
				</label>
		</div><br>

		<h3>Proyecto: <i><%=Project.names(@pro)%></i></h3><br>
		<label><h4>Horas trabajadas: <i><%= HoursProject.hours_total(@pro,@per)%> Horas Capturadas</i></h4></label><br>
		<label><h4>Total de gastos: <i>$ <%=@exp.sum(:mount)%></i></h4></label><br>
		<!--<label><strong>Periodos invertidos: </strong><i><%= HoursProject.periods_total(@pro)%> periodo(s)</i></label>-->
	</div><br>
<fieldset class="scheduler-border">
	<%if @worperpro.length != 0%>
		<p id="notice"><%= alert %></p>
			<legend class="scheduler-border" style="width:auto">Horas Incurridas</legend>
			<div class="table-responsive">
			  <table class="uk-table uk-table-hover uk-table-striped">
			    <thead>
			      <tr>
			        <th><h5>Trajador</h5></th>
			        <th><h5>Lunes</h5></th>
			        <th><h5>Martes</h5></th>
			        <th><h5>Miercoles</h5></th>
			        <th><h5>Jueves</h5></th>
			        <th><h5>Viernes</h5></th>
			        <th><h5>Sabado</h5></th>
			        <th><h5>Domingo</h5></th>
			      </tr>
			    </thead>

			    <tbody>
			        <% @worperpro.each do |wp| %>
			        	<%if !@edit%>
					        <tr>
					          <td style="vertical-align:middle"><h5><%=Worker.names(wp.worker_id)%></h5></td>
					          <td style="vertical-align:middle"><%=HoursProject.hours_day(wp.worker_id,@per,@pro,1)%></td>
					          <td style="vertical-align:middle"><%=HoursProject.hours_day(wp.worker_id,@per,@pro,2)%></td>
					          <td style="vertical-align:middle"><%=HoursProject.hours_day(wp.worker_id,@per,@pro,3)%></td>
					          <td style="vertical-align:middle"><%=HoursProject.hours_day(wp.worker_id,@per,@pro,4)%></td>
					          <td style="vertical-align:middle"><%=HoursProject.hours_day(wp.worker_id,@per,@pro,5)%></td>
					          <td style="vertical-align:middle"><%=HoursProject.hours_day(wp.worker_id,@per,@pro,6)%></td>
					          <td style="vertical-align:middle"><%=HoursProject.hours_day(wp.worker_id,@per,@pro,7)%></td>
					        </tr>
					    <%else%>
					    	<tr>
					    		<td style="vertical-align:middle"><h5><%=Worker.names(wp.worker_id)%></h5></td>
					    		<td style="vertical-align:middle" ><%= text_field_tag "r"+HoursProject.hours_id(wp.worker_id,@per,@pro,1).to_s, "", :size => 1, :maxlenght => 4, :placeholder => "", :required => "required", :class=>'form-control3', :disabled => false, :onkeyup =>"", :value => HoursProject.hours_day(wp.worker_id,@per,@pro,1)  %></td>
					    		<td style="vertical-align:middle" ><%= text_field_tag "r"+HoursProject.hours_id(wp.worker_id,@per,@pro,2).to_s, "", :size => 1, :maxlenght => 4, :placeholder => "", :required => "required", :class=>'form-control3', :disabled => false, :onkeyup =>"", :value => HoursProject.hours_day(wp.worker_id,@per,@pro,2)  %></td>
					    		<td style="vertical-align:middle" ><%= text_field_tag "r"+HoursProject.hours_id(wp.worker_id,@per,@pro,3).to_s, "", :size => 1, :maxlenght => 4, :placeholder => "", :required => "required", :class=>'form-control3', :disabled => false, :onkeyup =>"", :value => HoursProject.hours_day(wp.worker_id,@per,@pro,3)  %></td>
					    		<td style="vertical-align:middle" ><%= text_field_tag "r"+HoursProject.hours_id(wp.worker_id,@per,@pro,4).to_s, "", :size => 1, :maxlenght => 4, :placeholder => "", :required => "required", :class=>'form-control3', :disabled => false, :onkeyup =>"", :value => HoursProject.hours_day(wp.worker_id,@per,@pro,4)  %></td>
					    		<td style="vertical-align:middle" ><%= text_field_tag "r"+HoursProject.hours_id(wp.worker_id,@per,@pro,5).to_s, "", :size => 1, :maxlenght => 4, :placeholder => "", :required => "required", :class=>'form-control3', :disabled => false, :onkeyup =>"", :value => HoursProject.hours_day(wp.worker_id,@per,@pro,5)  %></td>
					    		<td style="vertical-align:middle" ><%= text_field_tag "r"+HoursProject.hours_id(wp.worker_id,@per,@pro,6).to_s, "", :size => 1, :maxlenght => 2, :placeholder => "", :required => "required", :class=>'form-control3', :disabled => false, :onkeyup =>"", :value => HoursProject.hours_day(wp.worker_id,@per,@pro,6)  %></td>
					    		<td style="vertical-align:middle" ><%= text_field_tag "r"+HoursProject.hours_id(wp.worker_id,@per,@pro,7).to_s, "", :size => 1, :maxlenght => 4, :placeholder => "", :required => "required", :class=>'form-control3', :disabled => false, :onkeyup =>"", :value => HoursProject.hours_day(wp.worker_id,@per,@pro,7)  %></td>
					    	</tr>
					    <%end%>
			        <% end %>
			    </tbody>
			  </table>
			</div>	
	<%elsif @worperpro.length == 0%>
		<h3><i>No hay personas asignadas a este proyecto dentro de este periodo</i></h3>
	<% end %>
	<div style="width:auto; text-align:center; float:left">
	<%if !@edit%>
		<button id="myBtn" type="button" class="btn btn-primary" style="width:50px; height:50px;"><i class="fa fa-plus-circle" style="font-size:26px" title="agregar empleados"></i></button>
		<%if @worperpro.length!=0%>
		<button type="submit" class="btn" name="commit" value="Edit" style="width:50px; height:50px;" title="editar horas"><i class="fa fa-pencil-square-o" style="font-size:26px"></i></button>
	<%end%>
	<%else%>
		<button type="submit", name="commit", value="Update" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Actualizar</button>
		<!-- <i id="myBtnEdit" type="button" class="fa fa-pencil-square-o" style="font-size:30px;"></i>-->
	<%end%>
	</div>
	</fieldset>
	<fieldset class="scheduler-border">
	<%if @exp.length != 0%>
		<legend class="scheduler-border" style="width:auto">Gastos</legend>
		<div class="table-responsive">
		  <table class="uk-table uk-table-hover uk-table-striped" id="gastos">
		    <thead>
		      <tr>
		        <th><h5>Concepto</h5></th>
		        <th><h5>Cargo a...</h5></th>
		        <th><h5>Dia</h5></th>
		        <th><h5>Monto</h5></th>
		      </tr>
		    </thead>

		    <tbody>
		        <% @exp.each do |expe| %>
			        <tr>
			          <td><%= Concept.names(expe.concept_id) %></td>
			          <td><%= Worker.names(expe.worker_id) %></td>
			          <td><%= expe.day %></td>
			          <td><%= expe.mount %></td>
			        </tr>
		        <% end %>
		    </tbody>
		  </table>
		</div>
			<i id="myBtnExp" type="button" class="fa fa-plus-square" style="font-size:45px; color:#01DF01"></i>
	<%elsif @exp.length== 0%>

		<h3><i>No hay Gastos en este proyecto dentro de este periodo</i></h3>
		<i id="myBtnExp" type="button" class="fa fa-plus-square" style="font-size:45px; color:#01DF01"></i>
	<%end%>
	</fieldset>
	<br>
	<!--<button id="myBtn" type="button"  class="btn btn-primary" >Agregar Gasto</button> 
	<br>-->

	<!-- The Modal ADD EMPLOYEE -->
	<div id="myModal" class="modal">
	  <!-- Modal content -->
	  <div class="modal-content">
	    <span class="close">x</span>
	    <h4 id="h4" style="color:grey;"> Selcciona el tarbajador a agregar:</h4>
	    <div >
		  	<fieldset>
			  	<% @arrpw.each do |x|%>
					<div class="btn-group" data-toggle="buttons">
        				<label id="cargo" class="btn btn-default active" style="width:150px;height:150px; border-radius:5px; float:left; margin:5px;outline:0;">
							<%= image_tag(x.photo.url(:mini), :style=>'margin-left:0px;margin-top:5px;margin-bottom:5px;border-radius: 50%;overflow: hidden;width:100px;height:100px')%><br>
							<%= radio_button_tag :worker_id, x.id, :class=>"form-control" %>
							<span class="glyphicon glyphicon-ok-sign" style="float:right; font-size:20px"></span>
							<%=x.name%>
						</label>
					</div>	
			  	<%end%>
			</fieldset>
		</div>
		<div align="right">
			<button type="submit", name="commit", value="AE" class="btn btn-primary">Agregar</button>
		</div><br>					
	  </div>
	</div>

	<!-- The Modal ADD EXPENSES -->
	<div id="myModalExp" class="modal">
	  <!-- Modal content -->
	  <div class="modal-content">
	    <span class="close" id="closeExp">x</span>
	    <h4 id="h4">Agregar Gasto:</h4>
	    <div align="center">
		  	<fieldset>
			  	
			</fieldset>
		</div>
		<div align="right">
		<button type="submit", name="commit", value="AE" class="btn btn-primary">Agregar</button>
		</div><br>					
	  </div>
	</div>
	
<%end%>


<script type="text/javascript">
		// Get the modal
	var modal = document.getElementById('myModal');

	// Get the button that opens the modal
	var btn = document.getElementById("myBtn");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on the button, open the modal 
	btn.onclick = function() {
	    modal.style.display = "block";
	}
	/////////////////////////////////////////////777/
	// Get the modal
	var modalexp = document.getElementById('myModalExp');

	// Get the button that opens the modal
	var btnexp = document.getElementById("myBtnExp");

	// Get the <span> element that closes the modal
	var spanexp = document.getElementsByClassName("close")[0];

	// When the user clicks on the button, open the modal 
	btnexp.onclick = function() {
	    modalexp.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	spanexp.onclick = function() {
	    modalexp.style.display = "none";
	    modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == modalexp) {
	        modalexp.style.display = "none";
	    }
	    if (event.target == modal) {
	        modal.style.display = "none";
	    }
	}
</script>