<div style="width:500px">  
<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :name, :class=>'form-control' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class=>'form-control' %>
  </div>

  <div class="">
    <%= f.label :company_id %>
    <%= collection_select( :project, :company_id, Company.all, :id, :name,{prompt: "Selecciona la compañia", :multiple => false}, :class=>'form-control') %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.number_field :status, :class=>'form-control' %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, :class=>'form-control' %>
  </div>

  <div class="field">
    <%= f.label :due_date %>
    <%= f.date_field :due_date, :class=>'form-control' %>
  </div>

  <div class="actions">
      <button class="btn btn-primary" type="submit" name="commit" value="Guardar"><i class="fa fa-floppy-o"></i> Guardar</button> 
    </div>
<% end %>
</div>