<div style="width:50%">
  <%= form_for(company) do |f| %>
    <% if company.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

        <ul>
        <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group">
    <div class="field">
      <%= f.label :nombre %>
      <%= f.text_field :name, :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :direccion %>
      <%= f.text_field :address, :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :numero %>
      <%= f.number_field :number_ext, :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :ciudad %>
      <%= f.text_field :city, :class=>"form-control"%>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :codigo_postal %>
      <%= f.number_field :postcode, :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :estado %>
      <%= f.text_field :state, :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :pais %>
      <%= f.text_field :country, :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :rfc %>
      <%= f.text_field :rfc, :class=>"form-control" %>
    </div>
  </div>

    <div class="actions">
      <button class="btn btn-primary" type="submit" name="commit" value="Guardar"><i class="fa fa-floppy-o"></i> Guardar</button> 
    </div>
  <% end %>
</div>