<fieldset class="scheduler-border">
<legend class="scheduler-border" style="width:auto;">Compañias</legend>
    <table id="example" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
        <thead>
            <tr>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>Numero Externo</th>
              <th>Ciudad</th>
              <th>Codigo Postal</th>
              <th>Estado</th>
              <th>Pais</th>
              <th>Rfc</th>
              <th>Editar</th>
            </tr>
        </thead>
        <tbody style="text-transform: lowercase;">
        <% @companies.each do |company| %>
          <tr>
            <td style="vertical-align:middle"><%= company.name %></td>
            <td style="vertical-align:middle"><%= company.address %></td>
            <td style="vertical-align:middle"><%= company.number_ext %></td>
            <td style="vertical-align:middle"><%= company.city %></td>
            <td style="vertical-align:middle"><%= company.postcode %></td>
            <td style="vertical-align:middle"><%= company.state %></td>
            <td style="vertical-align:middle"><%= company.country %></td>
            <td style="vertical-align:middle"><%= company.rfc %></td>
            <td style="vertical-align:middle"><i class="fa fa-pencil-square-o" title="editar" style="font-size:25px; color:#A4A4A4" onclick="document.location='<%=edit_company_path(company)%>'"></i></td>
          </tr>
        <% end %>
        </tbody>
    </table>
    
    <br>

    <button class="btn btn-primary" onclick="document.location='/companies/new'"><i class="fa fa-plus-circle" style="color:skyblue"></i> Agregar</button>
</fieldset>



<script type="text/javascript" src="//code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.uikit.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>