<fieldset class="scheduler-border">
<legend class="scheduler-border" style="width:auto;">Subconceptos</legend>

<table id="example" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Concept</th>
      <th>Editar</th>
    </tr>
  </thead>

  <tbody style="text-transform: lowercase;">
    <% @subconcepts.each do |subconcept| %>
      <tr>
        <td style="vertical-align:middle"><%= subconcept.name %></td>
        <td style="vertical-align:middle"><%= subconcept.concept.name %></td>
        <td style="vertical-align:middle"><i class="fa fa-pencil-square-o" title="editar" style="font-size:25px; color:#A4A4A4" onclick="document.location='<%=edit_subconcept_path(subconcept)%>'"></i></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="btn btn-primary" onclick="document.location='/projects/new'"><i class="fa fa-plus-circle" style="color:skyblue"></i> Agregar</button>

</fieldset>

<script type="text/javascript" src="//code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.uikit.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>