<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subconcept.name %>
</p>

<p>
  <strong>Concept:</strong>
  <%= @subconcept.concept.name %>
</p>

<%= link_to 'Edit', edit_subconcept_path(@subconcept) %> |
<%= link_to 'Back', subconcepts_path %>
