<style type="text/css">
  .form-control {
        border-radius: 10px;
    }
</style>

<div class="container" style="margin-top:100px">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="form-login">
        <h4 id="h4">Log in</h4>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, :class=>"form-control input-sm chat-input" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", :class=>"form-control input-sm chat-input" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="wrapper">
            <div class="actions">
              <span class="group-btn">
                <button class="btn btn-primary btn-md" ><i class="fa fa-sign-in"></i> Log in</button>
              </span>
            </div>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>