<div style="width:50%">
  <%= form_for(concept) do |f| %>
    <% if concept.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(concept.errors.count, "error") %> prohibited this concept from being saved:</h2>

        <ul>
        <% concept.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :nombre %>
      <%= f.text_field :name, :class=>"form-control"  %>
    </div>
    <div>
      <%= f.label :tipo_concepto%>
      <%= f.select(:type_concept, options_for_select([['Seleccione...', "indefinido"], ['Viaticos', "viatico"], ['Administrativos', "administrativo"],]), {},:class=>"form-control" ) %>
    </div>
    <div class="field">
      <%= f.label :descripcion %>
      <%= f.text_area :description,:class=>"form-control"  %>
    </div>

    <div class="actions">
      <button class="btn btn-primary" type="submit" name="commit" value="Guardar"><i class="fa fa-floppy-o"></i> Guardar</button> 
    </div>
  <% end %>
</div>