<fieldset class="scheduler-border">
  <legend class="scheduler-border" style="width:auto">Conceptos</legend>

  <div class="table-responsive">
    <table class="uk-table uk-table-hover uk-table-striped">
      <thead>
        <tr>
          <th class="col-md-1"><h4>Nombre</h4></th>
          <th class="col-md-1"><h4>Tipo</h4></th>
          <th class="col-md-3"><h4>Descripcion</h4></th>
          <th class="col-md-3"></th>
          <th></th>
          <th class="col-md-1"><h5 style="color:#A4A4A4">Editar</h5></th>
          <th class="col-md-1"><h5 style="color:#A4A4A4">Eliminar</h5></th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @concepts.each do |concept| %>
          <tr>
            <td style="vertical-align:middle"><%= concept.name %></td>
            <td style="vertical-align:middle"><%= concept.type_concept %></td>
            <td style="vertical-align:middle"><%= concept.description %></td>

            <%= form_tag({:controller => "concepts", :action =>"index"}, :method => "get") do %>
              <td><button class="btn btn-primary" type="submit" name="commit" value="<%=concept.id%>"><i class="fa fa-th"></i> Subconceptos</button></td>
            <% end %>
            <td></td>

            <td class="col-md-1">
              <i class="fa fa-pencil-square-o" title="editar" style="font-size:30px; color:#A4A4A4" onclick="document.location='<%=edit_concept_path(concept)%>'"></i>
            </td>

            <td class="col-md-1">
              <a type="submit"  data-confirm="Are you sure?" data-method="delete" rel="nofollow" title="editar" href="<%=concept_path(concept)%>" class="fa fa-trash-o" style="font-size:30px; float:left; color:#A4A4A4;" ></a>
            </td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<br>

<div style=" text-align:center; float:left">
  <h5> agregar concepto</h5>
  <i type="button" class="fa fa-plus-circle" style="font-size:45px; color:#01DF01" onclick="document.location='/concepts/new'"></i>
</div>
</fieldset>
<br><br>

<%if @subs%>
<fieldset class="scheduler-border">
<legend class="scheduler-border" style="width:auto">Subconcepto de <%= Concept.names(@concepto) %></legend>
  <div class="table-responsive">
    <table class="uk-table uk-table-hover uk-table-striped">
      <thead>
        <tr>
          <th><h4>index</h4></th>
          <th><h4>Subconcepto</h4></th>
        </tr>
      </thead>

      <tbody>
        <% @subs.each_with_index do |concept,index| %>
          <tr>
            <td><%= index %></td>
            <td><%= concept.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% elsif @concepto and !@subs %>
  <h3>El concepto <i><%= Concept.names(@concepto) %></i> no tiene subconcepto</h3>
<%end%>

<%if @concepto%>

<div style="width:auto; text-align:center; float:left">
  <h5>agregar subconcepto</h5>
  <i type="button" class="fa fa-plus-circle" style="font-size:45px; color:#01DF01" onclick="document.location='/subconcepts/new'"></i>
</div>
<%end%>

</fieldset>