<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @concept.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @concept.type_concept %>
</p>

<p>
  <strong>Description:</strong>
  <%= @concept.description %>
</p>

<%= link_to 'Edit', edit_concept_path(@concept) %> |
<%= link_to 'Back', concepts_path %>
