<div style="width:50%">
  <%= form_for(worker, html:{multipart: true}) do |f| %>
    <% if worker.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

        <ul>
        <% worker.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :nombre %>
      <%= f.text_field :name,:class=>"form-control" %>
    </div>

    <div class="field">
      <%= f.label :apellido_paterno %>
      <%= f.text_field :last_name,:class=>"form-control" %>
    </div>

    <div class="field">
      <%= f.label :apellido_materno %>
      <%= f.text_field :mothers_last_name,:class=>"form-control" %>
    </div>

  <div class="field">
      <%= f.label :puesto %>
      <%= f.select(:work_position, options_for_select([['Selecciona',0],['Desarrollador jr.', 'Desarrollador jr.'], ['Desarrollador', 'Desarrollador'],['Desarrollador Senior','Desarrollador Senior'],['Practicante','Practicante'],['Asistente','Asistente'],['Lider de proyecto','Lider de proyecto'],['Director','Director']]), {}, {:class=>"form-control"})%>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email,:class=>"form-control" %>
    </div>

    <div class="field">
      <%= f.label :cost_hour %>
      <%= f.text_field :cost_hour,:class=>"form-control" %>
    </div>

    <div class="field">
      <%= f.label :photo %>
      <%= f.file_field :photo, :class=>'form-control' %> 
    </div>

    <div class="field">
      <%= f.label :status %>
      <%= f.number_field :status, :class=>'form-control' %>
    </div>

    <div class="actions">
      <button class="btn btn-primary" type="submit" name="commit" value="Guardar"><i class="fa fa-floppy-o"></i> Guardar</button> 
    </div>
  <% end %>
</div>