<div style="width:100%">
  <div style="width:200px; float:left">
    <h1>Trabajadores</h1>
  </div>
  <div style="width:200px; float:right">
    <button class="btn btn-primary" style="float:right" onclick="document.location='/workers/new'"><i class="fa fa-plus-circle" style="color:skyblue"></i> Agregar</button>
  </div>
  


    <div class="col-md-12">
      <div class="thumbnail">
        <table class="uk-table uk-table-hover uk-table-striped">
          <thead>
            <tr>
              <th class="col-md-2"><h5>Foto</h5></th>
              <th class="col-md-3"><h5>Nombre</h5></th>
              <th class="col-md-2"><h5>Puesto</h5></th>
              <th class="col-md-1"><h5>Editar</h5></th>
            </tr>
          </thead>
          <tbody>
            <% @workers.each do |worker| %>
            <tr>
              <td class="col-md-2" style="vertical-align:middle;">
                <%= link_to image_tag(worker.photo.url(:mini), :style=>'border: 2px;margin-left:20px;margin-top:5px;margin-bottom:5px;padding: 0;border-radius: 50%;overflow: hidden;width:100px;height:100px'),worker %>
              </td>

              <td class="col-md-3" style="font-size:22px; text-decoration: none;padding-top:8px; vertical-align:middle;">
                <%= worker.name+" "+worker.last_name%>
                <p style="font-size:12px; padding-top:10px"><%= worker.email%></p>
              </td>

              <td class="col-md-2" style="vertical-align:middle;">
                <%= worker.work_position %>
              </td>

              <td class="col-md-1" style="vertical-align:middle;">
                <i class="fa fa-pencil-square-o" title="editar" style="font-size:30px; color:#A4A4A4" onclick="document.location='<%=edit_worker_path(worker)%>'"></i>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>