<div style="width:100%;">
    <div style=" float:right; font-size:50px; margin:8px 20px;">
      <i class="fa fa-chevron-circle-left" aria-hidden="true" onclick="document.location='/workers'" title="Regresar"></i>
    </div>
    <h1><%= @worker.name+" "+@worker.last_name+" "+@worker.mothers_last_name%></h1>
    <p>
      <%= image_tag(@worker.photo.url(:thumb), :style=>'width:280px;height:250px; border-radius:4%') %>
    </p>
    <div style=" position:absolute;top:70px;left:600px">

    <p>
      <strong>Work position:</strong>
      <%= @worker.work_position %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @worker.email %>
    </p>

    <p>
      <strong>Cost hour:</strong>
      <%= @worker.cost_hour %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @worker.status %>
    </p>

    <%= link_to 'Editar', edit_worker_path(@worker),:class=>'btn btn-primary'%>
    </div>
</div>