  <div style="width:50%">
  <%= form_for(card) do |f| %>
    <% if card.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

        <ul>
        <% card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :numero %>
      <%= f.number_field :number, :class=>"form-control" %>
    </div>

    <div class="field">
      <%= f.label :trabajador %>
      <%= collection_select( :card, :worker_id, Worker.all, :id, :name,{prompt: "Selecciona al trabajador", :multiple => false}, :class=>'form-control') %>
    </div> 

    <div class="actions">
      <button class="btn btn-primary" type="submit" name="commit" value="Guardar"><i class="fa fa-floppy-o"></i> Guardar</button> 
    </div>
  <% end %>
</div>