<div style=" float:right; font-size:50px; margin:8px 20px;">
	<i class="fa fa-chevron-circle-left" aria-hidden="true" onclick="document.location='/cards'" title="Regresar"></i>
</div>

<h1>Nueva Tarjeta</h1>

<%= render 'form', card: @card %>

