<%= form_for(administrative_expense) do |f| %>
  <% if administrative_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(administrative_expense.errors.count, "error") %> prohibited this administrative_expense from being saved:</h2>

      <ul>
      <% administrative_expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :period_id %>
    <%= f.text_field :period_id %>
  </div>

  <div class="field">
    <%= f.label :concept_id %>
    <%= f.text_field :concept_id %>
  </div>

  <div class="field">
    <%= f.label :day %>
    <%= f.date_select :day %>
  </div>

  <div class="field">
    <%= f.label :mount %>
    <%= f.text_field :mount %>
  </div>

  <div class="field">
    <%= f.label :worker_id %>
    <%= f.text_field :worker_id %>
  </div>

  <div class="field">
    <%= f.label :xml %>
    <%= f.text_field :xml %>
  </div>

  <div class="field">
    <%= f.label :pdf %>
    <%= f.text_field :pdf %>
  </div>

  <div class="field">
    <%= f.label :ticket %>
    <%= f.text_field :ticket %>
  </div>

  <div class="field">
    <%= f.label :payment_type %>
    <%= f.number_field :payment_type %>
  </div>

  <div class="field">
    <%= f.label :card %>
    <%= f.number_field :card %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
