<h1>Editing Administrative Expense</h1>

<%= render 'form', administrative_expense: @administrative_expense %>

<%= link_to 'Show', @administrative_expense %> |
<%= link_to 'Back', administrative_expenses_path %>
