<p id="notice"><%= notice %></p>

<h1>Administrative Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Period</th>
      <th>Concept</th>
      <th>Day</th>
      <th>Mount</th>
      <th>User</th>
      <th>Xml</th>
      <th>Pdf</th>
      <th>Ticket</th>
      <th>Payment type</th>
      <th>Card</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrative_expenses.each do |administrative_expense| %>
      <tr>
        <td><%= administrative_expense.period.id %></td>
        <td><%= administrative_expense.concept.name %></td>
        <td><%= administrative_expense.day %></td>
        <td><%= administrative_expense.mount %></td>
        <td><%= administrative_expense.worker_id %></td>
        <td><%= administrative_expense.xml %></td>
        <td><%= administrative_expense.pdf %></td>
        <td><%= administrative_expense.ticket %></td>
        <td><%= administrative_expense.payment_type %></td>
        <td><%= administrative_expense.card %></td>
        <td><%= link_to 'Show', administrative_expense %></td>
        <td><%= link_to 'Edit', edit_administrative_expense_path(administrative_expense) %></td>
        <td><%= link_to 'Destroy', administrative_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Administrative Expense', new_administrative_expense_path %>
