<h1>New Administrative Expense</h1>

<%= form_tag(:controller => "administrative_expenses", :action => "new",  method: "post" )  do %>
  <div class="field">
    <h6>Periodo:</h6>
    <%= collection_select( :administrative_expense, :period_id, Period.all, :id, :periodo,{prompt: "Selecciona perido", :selected => @per, :multiple => false}, :required => "required") %>
  </div>

  <% if @arrdia%>
  	<div class="field">
  	<fieldset>
	  	<% @arrdia.each do |x|%>
	  		<%= radio_button_tag :x, x  %>
	  		<label for="<%=x%>"><%=AdministrativeExpense.dia_mes(x)%> <%= x.strftime('%v')%></label>		
	  	<%end%>
	</fieldset>
	</div>

  <div class="field">
    <h6>Concepto:</h6>
    <%= collection_select( :administrative_expense, :concept_id, @concept, :id, :name,{prompt: "Selecciona concepto", :selected => @con,:multiple => false}) %>
  </div>

  <div class="field">
   <h6>Monto:</h6>
    <%= text_field_tag "Monto",  @mon %>
  </div>
  <hr>
  <div class="field">
    <h6>Personal:</h6>
    <%= collection_select( :administrative_expense, :worker_id, Worker.all, :id, :name,{prompt: "Selecciona el empleado", :selected => @use,:multiple => false}, :disabled => @perable) %>
    <%= hidden_field_tag "user_id", @use%>
  </div>

  <%if @sel%>
  <%else%>
	  <div class="field">
	  	<button type="submit" name="commit" value="2">continuar</button>
	  </div>
  <%end%>

  <%else%>
	  <div class="field">
	  	<button type="submit" name="commit" value="3">continuar</button>
	  </div>
  <%end%>
  <%if @nobutton%>
  <%else%>
	  <%if @sel %>
		  <div class="field">
		    <h6>Tipo de pago :</h6>
		    <select name="tipo_pago" >
		    <%if @seladm%>
		    	<option value="efectivo">Efectivo</option>
		    <%end %>
		    <option value="tarjeta">Tarjeta</option>
		    </select>
		  </div>
	  <%end%>
	  <%if @seladm%>
	  	<button type="submit" name="commit" value="1">continuar</button>
	  <%end %>
  <%end%>
  <%= hidden_field_tag "tipo_pagoaux", @tip%>
  <%if @selemp%>
	  <div class="field">
	    <h6>Tarjeta:</h6>
	    <%= text_field_tag "Tarjeta1" %>-<%= text_field_tag "Tarjeta2" %>-<%= text_field_tag "Tarjeta3" %>-<%= text_field_tag "Tarjeta4" %>
	  </div>
	  <hr>
	  <div class="field">
	 	<h6>xml:</h6>
	    <%= file_field_tag "xml" %>
	  </div>
	  
	  <div class="field">
	     <h6>pdf:</h6>
	    <%= file_field_tag "pdf" %>
	  </div>

	  <div class="field">
	     <h6>ticket:</h6>
	    <%= file_field_tag "ticket" %>
	  </div>

	  <div class="actions">
	    <%= submit_tag %>
	  </div>
  <%end%>
  <%if @selefe%>
  	<hr>
	  <div class="field">
	 	<h6>xml:</h6>
	    <%= file_field_tag "xml" %>
	  </div>
	  

	  <div class="field">
	     <h6>pdf:</h6>
	    <%= file_field_tag "pdf" %>
	  </div>

	  <div class="field">
	     <h6>ticket:</h6>
	    <%= file_field_tag "ticket" %>
	  </div>

	  <div class="actions">
	    <%= submit_tag %>
	  </div>
  <%end%>
<%end %>
