<p id="notice"><%= notice %></p>

<p>
  <strong>Period:</strong>
  <%= @administrative_expense.period.id %>
</p>

<p>
  <strong>Concept:</strong>
  <%= @administrative_expense.concept.name %>
</p>

<p>
  <strong>Day:</strong>
  <%= @administrative_expense.day %>
</p>

<p>
  <strong>Mount:</strong>
  <%= @administrative_expense.mount %>
</p>

<p>
  <strong>User:</strong>
  <%= @administrative_expense.worker_id %>
</p>

<p>
  <strong>Xml:</strong>
  <%= @administrative_expense.xml %>
</p>

<p>
  <strong>Pdf:</strong>
  <%= @administrative_expense.pdf %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @administrative_expense.ticket %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @administrative_expense.payment_type %>
</p>

<p>
  <strong>Card:</strong>
  <%= @administrative_expense.card %>
</p>

<%= link_to 'Edit', edit_administrative_expense_path(@administrative_expense) %> |
<%= link_to 'Back', administrative_expenses_path %>
