<div style="width:50%">
<%= form_for(expense) do |f| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :period_id %>
    <%= collection_select( :expense, :period_id, Period.all, :id, :date_start,{prompt: "Selecciona perido", :multiple => false}, :class=>"form-control") %>
  </div>

  <div class="field">
    <%= f.label :project_id %>
    <%= collection_select( :expense, :project_id, Project.all, :id, :name,{prompt: "Selecciona proyecto", :multiple => false}, :class=>"form-control") %>
  </div>

  <div class="field">
    <%= f.label :concept_id %>
    <%= collection_select( :expense, :concept_id, Concept.all, :id, :name,{prompt: "Selecciona concepto", :multiple => false}, :class=>"form-control") %>
  </div>

  <div class="field">
    <%= f.label :mount %>
    <%= f.text_field :mount, :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :worker_id %>
    <%= collection_select( :expense, :worker_id, Worker.all, :id, :name,{prompt: "Selecciona el empleado", :multiple => false}, :class=>"form-control") %>
  </div>


  <div class="field">
    <%= f.label :payment_type %>
    <%= f.select(:payment_type, options_for_select([['Efectivo', 'efectivo'], ['Tarjeta', 'tarjeta']]), {},:class=>"form-control") %>
  </div>

  <div class="field">
    <%= f.label :card %>
    <%= f.text_field :card, :class=>"form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :xml_file %>
    <%= f.text_field :xml_file, :class=>"form-control" %>
  </div>
  

  <div class="field">
    <%= f.label :pdf_file %>
    <%= f.text_field :pdf_file, :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :ticket %>
    <%= f.text_field :ticket, :class=>"form-control" %>
  </div>

  <div class="actions">
    <button class="btn btn-primary" type="submit" name="commit" value="Guardar"><i class="fa fa-floppy-o"></i> Guardar</button> 
  </div>
<% end %>
</div>