<fieldset class="scheduler-border">
<legend class="scheduler-border" style="width:auto;">Proyectos</legend>
  <table id="example" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Proyecto</th>
          <th>Concepto</th>
          <th>Monto</th>
          <th>Trabajador</th>
          <th>Tipo de pago</th>
          <th>Tarjeta</th>
          <th>Xml</th>
          <th>Pdf</th>
          <th>Ticket</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody style="text-transform: lowercase;">
      <% @expense.each do |expense| %>
        <tr>
          <td style="vertical-align:middle"><%= expense.period_id %></td>
          <td style="vertical-align:middle"><%= expense.project.name %></td>
          <td style="vertical-align:middle"><%= expense.concept.name %></td>
          <td style="vertical-align:middle"><%= expense.mount %></td>
          <td style="vertical-align:middle"><%= expense.worker.name%></td>
          <td style="vertical-align:middle"><%= expense.payment_type %></td>
          <td style="vertical-align:middle"><%= expense.card %></td>
          <td style="vertical-align:middle"><%= expense.xml_file %></td>
          <td style="vertical-align:middle"><%= expense.pdf_file %></td>
          <td style="vertical-align:middle"><%= expense.ticket %></td>
          <td style="vertical-align:middle"><i class="fa fa-pencil-square-o" title="editar" style="font-size:25px; color:#A4A4A4" onclick="document.location='<%=edit_expense_path(expense)%>'"></i></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>

  <button class="btn btn-primary" onclick="document.location='/projects/new'"><i class="fa fa-plus-circle" style="color:skyblue"></i> Agregar</button>

</fieldset>

<script type="text/javascript" src="//code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.uikit.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
