<style type="text/css">
	hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}

  	#dias {
  		background-color: #0099cc;
  	}
  	#dias  input[type="radio"] + i.glyphicon {         
    	opacity: 0;
  	}

  	#dias  input[type="radio"]:checked + i.glyphicon {        
    	opacity: 1;
    	color:white;       
	}

	#cargo.btn.active  input[type="radio"] + span.glyphicon {         
    	opacity: 0;       
  	}
  	#cargo.btn input[type="radio"]:checked + span.glyphicon {        
    	opacity: 1;       
	}

	#reembolso.btn2  input[type="checkbox"]:not(:checked) + span.glyphicon {         
    	opacity: 0;       
  	}
  	#reembolso.btn2.active  input[type="checkbox"]:checked + span.glyphicon {        
    	opacity: 1;       
	}

	#inmiscuidos.btn  input[type="checkbox"]:not(:checked) + span.glyphicon {         
    	opacity: 0;       
  	}
  	#inmiscuidos.btn.active  input[type="checkbox"]:checked + span.glyphicon {        
    	opacity: 1;       
	}

	a:hover {
        background-color: transparent;
        opacity:0.5;
    }

    .btn.active, .btn:active {
    background-image: none;
    outline: 0;
    /* -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125); */
    box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	}
</style>

<%= form_tag(:controller => "expenses", :action => "new",  method: "post" )  do %>

	<div align="center">
		<div class="group">
				<h3>Periodo: </h3>
				<label style="height:70px; width:600px; border-radius:35px; padding:0px 5px 0px 4px; background-color:#2e353d;">
					<div align="center" style="width:100%;">
						<div style="width:10%; float:left;">
						<%= link_to new_expense_path(@perbefore), :style=>"color:white;font-size:30px" do %>
							<i class="fa fa-chevron-circle-left" style="font-size:71px;"></i>
						<%end%> 
					</div>

					<div style="width:80%; float:left">
						<h2 style="color:white;padding-top:20px"><%= Period.periodo(@per)%></h2>
					</div>

					<div style="width:10%; float:left">
						<%= link_to  new_expense_path(@pernext), :style=>"color:white;font-size:30px" do %>
							<i class="fa fa-chevron-circle-right" style="font-size:71px;"></i> 
						<%end%>
					</div>
				</div>
			</label>
		</div>
	</div>

	<br><br>

	<%if !@resp1%>
	<div align="center">
		<div class="field"  style="width:auto">
		  	<h3 style="width:auto">Selecciona el dia del gasto</h3> 
		  	<label style="border-top: solid 0px grey; border-bottom: solid 0px grey; width:900px;">
				<% @arrdia.each do |x|%>
					<div id="div-dias" class="btn-group" data-toggle="buttons">
					   	<label id="dias" class="btn btn-default active" style="width:100px; height:100px; text-align:center; border-radius:0px;background-color:#EDEDED;outline:0;">
							<h4 style="color:grey"><%=Expense.dia_mes(x)%></h4>
							<%= radio_button_tag :x,x, :style=>'float:left;' %>
						  	<i class="glyphicon glyphicon-ok" style=" font-size:20px;color:grey;"></i>
						  	<h6 style="margin-bottom: 0px;margin-top: 10px; color:grey"><%= x.strftime('%v')%></h6>
						</label>
					</div>
				<%end%>
			</label>
		</div>
	</div>

		<br>
	
	<%elsif @resp1%>
		<div class="field"  style="width:auto">
		  	<legend class="schedule-border" style="width:auto">Dia del gasto</legend> 
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary active" style="width:100px; height:100px; text-align:center; border-radius:0px 0px 0px 0px; background-color:#EDEDED; z-index:0;">
					<h4 style="color:grey"><%= Expense.dia_mes(Date.parse(@dia).strftime("%a, %d %b %Y").to_date)%></h4>
					<%= radio_button_tag :x,@dia, :style=>'float:left;' %>
					<span class="glyphicon glyphicon-ok" style=" font-size:20px; color:grey"></span>
					<h6 style="color:grey; margin-bottom: 0px;margin-top: 10px;"><%= Date.parse(@dia).strftime('%v')%></h6>
				</label>
			</div>
		</div>

		<br>

	<%end%>

	<div class="field" style="width:500px">
	    <h6>Proyecto:</h6>
	    <%= collection_select( :expense, :project_id, Project.all, :id, :name,{prompt: "Selecciona proyecto", :selected => @pro, :multiple => false},:required => "required",:class=>"form-control") %>
 	</div>

 	<br>
	
	 	<%if @resp1 %>
	 		<% if @arrpw.length != 0%>
				<%if !@resp2%>
					<div class="field">
					  	<fieldset class="scheduler-border">
					  		<legend class="scheduler-border" style="width:auto"> Cargo a </legend>
        					<% @arrpw.each do |x|%>
        				    	<div class="btn-group" data-toggle="buttons">
        				    		<label id="cargo" class="btn btn-default active" style="width:150px;height:150px; border-radius:60px 6px 6px 6px; outline:0;">
        				    			<%= image_tag(x.photo.url(:mini), :style=>'float:left;margin-top:5px;margin-bottom:5px;border-radius: 50%;overflow: hidden;width:100px;height:100px')%><br>
        				    			<%= radio_button_tag :worker_id, x.id, :style=>'float:left;display:none;' %>
        				    			<span class="glyphicon glyphicon-ok-sign" style="float:right; font-size:20px"></span>
        				    			<label for="<%x%>" style="margin-top: 0px;border-bottom-width: 0px; float:left;color:grey">
        				    				<%=x.name%>
        				    			</label>
        				    		</label>
        				    	</div>
        					<%end%>
						</fieldset>
					</div>

					<br>
					
					<div class="field" style="width:500px" >
					    <h6>Tipo de pago :</h6>
					    <select name="tipo_pago" class="form-control" >
					    <option value="efectivo">Efectivo</option>
					    <option value="tarjeta">Tarjeta</option>
					    </select>
					</div>

					<div class="field" style="width:500px">
				    <h6>Concepto:</h6>
				    <%= collection_select( :expense, :concept_id, @concept, :id, :name,{prompt: "Selecciona concepto", :selected => @con,:multiple => false},:class=>"form-control",:required => "required") %>
					</div>

					<br>

				<%end %>
			<%else%>
				<h3>No hay personas asignadas a este proyecto dentro este periodo</h3>
			<% end %>
			<%if @resp2%>
			  	<label for="" class="btn btn-primary active" style="width:150px; height:150px; border-radius:60px 6px 6px 6px;">
			  		<%= image_tag(Worker.photos(@wor).url(:mini), :style=>'float:left;margin-top:5px;margin-bottom:5px;border-radius: 50%;overflow: hidden;width:100px;height:100px')%><br>
			  		<label style="margin-top: 0px;border-bottom-width: 0px; float:left">
			  		<%=Worker.names(@wor)%>
			  		</label>
			  	</label>

			  	<br>
				
				<%= hidden_field_tag "worker_id", @wor%>
				<%= hidden_field_tag "tipo_pago", @tip%>
				<%= hidden_field_tag "concept", @con%>
		
				<%if @resp3 %>
				
				<br>

				<div class="field" style="width:500px">
						<h6>Selecciona tarjeta a la que se hizo el cargo :</h6>
					    <%= collection_select( :expense, :card, @tarjetas, :id, :number,{prompt: "Selecciona tarjeta", :multiple => false},:class=>"form-control",:required => "required") %>
					</div>
				<%end%>

			  	<br>
			  	<br>

			  	<div style="width:100%">
				  	<div class="field" style="width:48%; float:left;">
					    <h6>Concepto:</h6>
					    <%= collection_select( :expense, :concept_id, @concept, :id, :name,{prompt: "Selecciona concepto", :selected => @con,:multiple => false},:class=>"form-control",:disabled=>true) %>
					</div>

				  	<%if @subconcepts.length>0%>	
						<div class="field" style="width:48%; float:right;">
						    <h6>Suboncepto:</h6>
						    <%= collection_select( :expense, :subconcept_id, @subconcepts, :id, :name,{prompt: "Selecciona subconcepto", :selected => nil,:multiple => false},:class=>"form-control",:required => "required") %>
						</div>
					<%end %>
				</div>

				<fieldset class="scheduler-border" style="width:100%">
					<legend class="scheduler-border" style="width:auto"> Detalles </legend>
						<div class="field" style="width:23%; float:left; margin-right:15px;">
						    <h6>Total:</h6>
						    <%= number_field_tag "Monto", @mon,:placeholder => "0.00",step: :any,:class=>"form-control",:required => "required"%>
						</div>

						<div class="field" style="width:23%; float:left; margin-right:15px;">
						    <h6>Subtotal:</h6>
						    <%= number_field_tag "Subtotal", nil,:placeholder => "0.00",step: :any,:class=>"form-control",:required => "required"%>
						</div>

						<div class="field" style="width:23%; float:left; margin-right:15px;">
						    <h6>Impuesto:</h6>
						    <%= number_field_tag "Impuesto", nil,:placeholder => "0.00",step: :any,:class=>"form-control",:required => "required"%>
						</div>

						<div class="field" style="width:23%; float:left;">
						    <h6>Reembolsable:</h6>
						    <label id="reembolso" class="btn2 btn-primary active" style="width:32px;height:32px;text-align:center;">
							    	<%= check_box_tag "Reembolsable","si", false, :style=>'display:none;' %>
							    	<span class="glyphicon glyphicon-ok" style="font-size:15px; padding-top:8px; z-index:0;"></span>
						    </label>
						</div>

						<br>

						<div class="field" style="width:500px">
						    <h6>Descripcion:</h6>
						    <%= text_area_tag "Descripcion", nil, rows: 5, col: 25,:class=>"form-control",:required => "required"%>
						</div>
				</fieldset>  

					<div class="field">
					  	<fieldset class="scheduler-border" style="width:100%">
					  		<legend class="scheduler-border" style="width:auto">Trabajadores Inmisciudos</legend>
						  	<% @arrpw.each_with_index do |x,index|%>
							  	<div class="btn-group">
	    				    		<label id="inmiscuidos" class="btn btn-default active" style="width:150px; height:150px; border-radius:60px 6px 6px 6px; z-index:0;">
							  			<%= image_tag(x.photo.url(:mini), :style=>'border: 2px;float:left;margin-top:5px;margin-bottom:5px;border-radius: 50%;overflow: hidden;width:100px;height:100px')%><br>
							  			<%= check_box_tag "r"+index.to_s, x.name+" "+x.last_name+" "+x.mothers_last_name, false, :style=>'display:none'%>
							  			<span class="glyphicon glyphicon-ok-sign" style="float:right; font-size:20px"></span>
							  			<label for="<%x%>" style="margin-top: 0px;border-bottom-width: 0px; float:left">
	    				    				<%=x.name%>
	    				    			</label>
							  		</label>
							  	</div>
						  	<%end%>
						</fieldset>
					</div>

					<br>

		  		<div class="field" align="center">
			  		<div style="width:500px">
					    <div class="custom-input-file" style="width:150px;float:left;margin-right:10px">
					 		<h6>xml</h6>
					    	<%= file_field_tag "xml",:class=>"input-file" %>
					    	<div class="archivo">...</div>
					    </div>
					  
					    <div class="custom-input-file" style="width:150px;float:left;margin-right:10px">
					    	<h6>pdf</h6>
					    	<%= file_field_tag "pdf",:class=>"input-file" %>
					    	<div class="archivo">...</div>
					    </div>

					    <div class="custom-input-file" style="width:150px;float:left;margin-right:10px">
					    	<h6>ticket</h6>
					    	<%= file_field_tag "ticket",:class=>"input-file" %>
					    	<div class="archivo">...</div>
					    </div>
				    </div>
			    </div>

			    <br>
			    <br>
			    <br>

			    <div class="field" align="center">
			    	<button type="submit" name="commit" value="1" class="btn3 btn-success" style="margin-top:30px;margin-bottom:60px;"><i class="fa fa-floppy-o"></i> Guardar</button> 
			    </div>
			<%end%>
		<%end %>
	
	<% if @resp2%>
		<%else%>
			<div align="left">
				<br><button type="submit" name="commit" value="3" class="btn btn-primary" >Cargar informacion</button>
			</div>
		<% end %> 
<%end%>


<script type="text/javascript">
	$(function(){
	    $(".custom-input-file input:file").change(function(){
	        $(this).parent().find(".archivo").html($(this).val());
	    }).css('border-width',function(){
	        if(navigator.appName == "Microsoft Internet Explorer")
	            return 0;
	    });
	});
</script>