<p id="notice"><%= notice %></p>

<p>
  <strong>Period:</strong>
  <%= @expense.period.date_start %>
</p>

<p>
  <strong>Project:</strong>
  <%= @expense.project.name %>
</p>

<p>
  <strong>Concept:</strong>
  <%= @expense.concept.name %>
</p>

<p>
  <strong>Mount:</strong>
  <%= @expense.mount %>
</p>

<p>
  <strong>User:</strong>
  <%= @expense.worker_id %>
</p>

<p>
  <strong>Xml file:</strong>
  <%= @expense.xml_file %>
</p>

<p>
  <strong>Pdf file:</strong>
  <%= @expense.pdf_file %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @expense.ticket %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
