<!DOCTYPE html>
<html>
  <head>
    <title>Dbz</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/uikit.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.uikit.min.css">

    <meta charset="utf-8">



    <style type="text/css">
        .nav-side-menu {
          overflow: auto;
          font-family: verdana;
          font-size: 12px;
          font-weight: 200;
          background-color: #2e353d;
          position: fixed;
          top: 0px;
          width: 19%;
          height: 100%;
          color: #e1ffff;
        }
        .nav-side-menu .brand {
          background-color: #23282e;
          line-height: 50px;
          display: block;
          text-align: center;
          font-size: 14px;
        }
        .nav-side-menu .toggle-btn {
          display: none;
        }
        .nav-side-menu ul,
        .nav-side-menu li {
          list-style: none;
          padding: 0px;
          margin: 0px;
          line-height: 35px;
          cursor: pointer;
          /*    
            .collapsed{
               .arrow:before{
                         font-family: FontAwesome;
                         content: "\f053";
                         display: inline-block;
                         padding-left:10px;
                         padding-right: 10px;
                         vertical-align: middle;
                         float:right;
                    }
             }
        */
        }
        .nav-side-menu ul :not(collapsed) .arrow:before,
        .nav-side-menu li :not(collapsed) .arrow:before {
          font-family: FontAwesome;
          content: "\f078";
          display: inline-block;
          padding-left: 10px;
          padding-right: 10px;
          vertical-align: middle;
          float: right;
        }
        .nav-side-menu ul .active,
        .nav-side-menu li .active {
          border-left: 3px solid #5584ff;
          background-color: #4f5b69;
        }
        .nav-side-menu ul .sub-menu li.active,
        .nav-side-menu li .sub-menu li.active {
          color: #d19b3d;
        }
        .nav-side-menu ul .sub-menu li.active a,
        .nav-side-menu li .sub-menu li.active a {
          color: #d19b3d;
        }
        .nav-side-menu ul .sub-menu li,
        .nav-side-menu li .sub-menu li {
          background-color: #181c20;
          border: none;
          line-height: 28px;
          border-bottom: 1px solid #23282e;
          margin-left: 0px;
        }
        .nav-side-menu ul .sub-menu li:hover,
        .nav-side-menu li .sub-menu li:hover {
          background-color: #020203;
        }
        .nav-side-menu ul .sub-menu li:before,
        .nav-side-menu li .sub-menu li:before {
          font-family: FontAwesome;
          content: "\f105";
          display: inline-block;
          padding-left: 10px;
          padding-right: 10px;
          vertical-align: middle;
        }
        .nav-side-menu li {
          padding-left: 0px;
          border-left: 3px solid #2e353d;
          border-bottom: 1px solid #23282e;
        }
        .nav-side-menu li a {
          text-decoration: none;
          color: #e1ffff;
        }
        .nav-side-menu li a i {
          padding-left: 10px;
          width: 20px;
          padding-right: 20px;
        }
        .nav-side-menu li:hover {
          border-left: 3px solid #5584ff;
          background-color: #4f5b69;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          -ms-transition: all 1s ease;
          transition: all 1s ease;
        }
        @media (max-width: 767px) {
          .nav-side-menu {
            position: relative;
            width: 100%;
            margin-bottom: 10px;
          }
          .nav-side-menu .toggle-btn {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10 !important;
            padding: 3px;
            background-color: #ffffff;
            color: #000;
            width: 40px;
            text-align: center;
          }
          .brand {
            text-align: left !important;
            font-size: 22px;
            padding-left: 20px;
            line-height: 50px !important;
          }
        }
        @media (min-width: 767px) {
          .nav-side-menu .menu-list .menu-content {
            display: block;
          }
        }
        body {
          margin: 0px;
          padding: 0px;
        }

        a.class_a_href{
        pointer-events: none;
        cursor: default;
        }

        fieldset.scheduler-border {
        border: 1px solid #ddd !important;
        border-radius:5px 5px 5px 5px;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
            width:auto;
        }

        a:hover {
          background-color: #2e353d;
        }

        #menu{
          z-index:1; 
          top:0px;
          left: 255px;
          width:100%;
          height:120px;
          background-color:#2e353d;
          border-bottom: solid 1px black;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .btn {

          border: 0 none;
          font-height: 5px;
          letter-spacing: 1px;
          text-transform: lowercase;
          height:35px;
          border-radius: 50px;
        }

        .btn2 {

          border: 0 none;
          font-height: 5px;
          letter-spacing: 1px;
          text-transform: lowercase;
          height:35px;
          border-radius: 5px;
        }
         
        .btn:focus, .btn:active:focus, .btn.active:focus {
          outline: 0 none;
        }
         
        .btn-primary {
          background: #0099cc;
          color: #ffffff;
        }
         
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
          background: #33a6cc;
        }
         
        .btn-primary:active, .btn-primary.active {
          background: #007299;
          box-shadow: none;
        }

        .btn.sharp {
          border-radius:0;
        }

        .btn.outline {
          background: none;
          padding: 12px 22px;
        }

        .btn-primary.outline {
          border: 2px solid #0099cc;
          color: #0099cc;
        }

        .btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
          color: #33a6cc;
          border-color: #33a6cc;
        }
        .btn-primary.outline:active, .btn-primary.outline.active {
          border-color: #007299;
          color: #007299;
          box-shadow: none;
        }

        .btn-primary.gradient {
          background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
          background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
        }

        .btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
          background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
          background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
        }

        .btn-primary.gradient:active, .btn-primary.gradient.active {
          background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
          background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
        }

        .btn-lg.round {
          border-radius: 24px;
        }

        .btn-primary.raised {
          box-shadow: 0 3px 0 0 #007299;
        }

        .btn-primary.raised:active, .btn-primary.raised.active {
          background: #33a6cc;
          box-shadow: none;
          margin-bottom: -3px;
          margin-top: 3px;
        }

        .custom-input-file {
        overflow: hidden;
        position: relative;
        cursor: pointer;
        border: 1px solid #000;
        border-radius: 5px;
        background-color: #fff;
        color: #000;
        text-align: center;
        font-family: verdana;
        font-size: 12pt;
        width: 200px;
        min-height: 40px;
    }
    .custom-input-file:hover {
        background-color: #2e353d;
        color: #fff;
    }
    .custom-input-file .input-file {
        margin: 0;
        padding: 0;outline:0;
        font-size: 10000px;
        border: 10000px solid transparent;
        opacity: 0;
        filter: alpha(opacity=0);
        position: absolute;
        right: -1000px;
        top: -1000px;
        cursor: pointer;
    }
    .custom-input-file .archivo {
        background-color: #2e353d;
        color: #fff;
        font-size: 7pt;
        overflow: hidden;
    }
    .custom-input-file:hover .archivo {
        background-color: #fff;
        color: #000;   
    }

    .form-control3 {
      text-align: center;
      display: block;
      width: 45px;
      height: 45px;
      padding: 5px 5px;
      font-size: 15px;
      line-height: 1.42857143;
      color: #2c3e50;
      background-color: #ffffff;
      background-image: none;
      border: 1px solid #dce4ec;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .container {
    width:996px;
    margin:0px auto;
    font-size:1em;
    }
    section,aside {
      padding: 10px;
      background:#ccc;
      -moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
    }
    section {
      float: left;
      width: 70%;
    }
    aside {
      float: right;
      width: 25%;
    }
    nav {
      overflow: hidden;
    }
    nav ul {
      list-style-type:none;
      float:left;
      padding:0px;
    }
    nav ul li {
      float:left;
      padding:3px 10px;
      margin:2px;
      background:#ccccff;
      -moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
    }
    footer {
      margin:10px;
      text-align:center;
      clear:both;
    }
   
    /* para 980px o menos */
    @media screen and (max-width:980px) {
      .container {
        width:98%;
      }
      section {
        width:68%;
      }
    }
   
    /* para 700px o menos */
    @media screen and (max-width:700px) {
      aside,section {
        float:none;
        width:96%;
      }
      nav, section {
        font-size:1.2em;
      }
      aside {
        margin-top:5px;
      }
      nav ul {
        float:none;
        clear:both;
      }
    }
   
    /* para 480px o menos */
    @media screen and (max-width:480px) {
      aside {
        display:none;
      }
      nav, section {
        font-size:1.5em;
      }
      section {
        width:94%;
      }
      nav ul {
        float:left;
        clear:none;
        width:50%;
      }
      nav ul li {
        float:none;
      }
    }

    @import url(http://fonts.googleapis.com/css?family=Roboto:400);
    body {
      background-color:#fff;
      -webkit-font-smoothing: antialiased;
      font: normal 14px Roboto,arial,sans-serif;
    }

   
    .form-login {
        background-color: #EDEDED;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px;
        border-color:#d2d2d2;
        border-width: 5px;
        box-shadow:0 1px 0 #cfcfcf;
    }

    #h4 { 
     border:0 solid #fff; 
     border-bottom-width:1px;
     padding-bottom:10px;
     text-align: center;
    }

    .wrapper {
        text-align: center;
    }
            
    </style>

  </head>

  <body style="background-color:white">

        <div class="nav-side-menu" style="border-right: solid 2px white;">
            <div class="brand">Sistema Gestor De Proyectos</div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                <%if current_user.nil?%>
                <%else%>
                  
                    <div class="menu-list">
              
                        <ul id="menu-content" class="menu-content collapse out">
                            
                            <li onclick="document.location='/welcome/index'">
                              <a class="class_a_href">
                              <i class="fa fa-home fa-lg" ></i> Inicio
                              </a>
                            </li>
                            
                            <%if current_user.roles == "admin"%>
                                <li onclick="document.location='/users/index'">
                                  <a class="class_a_href">
                                  <i class="fa fa-user fa-lg" ></i> Usuarios
                                  </a>
                                </li>

                                <li onclick="document.location='/clients'">
                                  <a class="class_a_href"><i class="fa fa-male fa-lg"></i> Clientes</a>
                                </li>

                                <li onclick="document.location='/companies'">
                                  <a class="class_a_href"><i class="fa fa-building-o fa-lg"></i> Compañia</a>
                                </li>


                                <li data-toggle="collapse" data-target="#conceptos" class="collapsed" onclick="document.location='/concepts'">
                                  <a class="class_a_href"><i class="fa fa-pencil-square-o fa-lg"></i> Conceptos</a>
                                </li>  

                                <li data-toggle="collapse" data-target="#periodos" class="collapsed">
                                  <a class="class_a_href"><i class="fa fa-calendar fa-lg"></i> Periodos <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="periodos">
                                  <li onclick="document.location='/periods_auto/index'"><a class="class_a_href" >Automatico</li>
                                  <li onclick="document.location='/periods/new'"><a class="class_a_href" >Manual</li>
                                </ul>


                                <li data-toggle="collapse" data-target="#proyectos" class="collapsed">
                                  <a class="class_a_href"><i class="fa fa-laptop fa-lg"></i> Proyectos <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="proyectos">
                                  <li onclick="document.location='/projects/new'"><a class="class_a_href" style="color:green;">Agregar proyecto<i class="fa fa-plus" style="font-size:10px"></i></a></li>
                                  <% @projects.each do |project| %>
                                        <li onclick="document.location='/hour/index/<%=project.id%>,<%=@peractual%>'"><a class="class_a_href" >
                                        <%= project.name %>
                                        <br></li>
                                        <% end %>
                                        <li onclick="document.location='/projects'"><a class="class_a_href">Mostrar Proyectos</a></li>
                                </ul>

                                <li data-toggle="collapse" data-target="#trabajadores" class="collapsed" onclick="document.location='/workers'">
                                  <a class="class_a_href"><i class="fa fa-users fa-lg"></i> Trabajadores</a>
                                </li>
                                
                            <%end%>

                                <li data-toggle="collapse" data-target="#gastos" class="collapsed">
                                  <a class="class_a_href"><i class="fa fa-credit-card fa-lg"></i> Gastos<span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="gastos">
                                  <%if current_user.roles == "admin"%>
                                    <li onclick="document.location='/expenses/new/<%=@peractual%>'"><a class="class_a_href" >Operativos</li>
                                    <li><a class="class_a_href" >Administrativos</li>
                                  <%end%>
                                  <%if current_user.roles == "admin" or current_user.roles =="user_default"%>
                                    <li><a class="class_a_href" >Personal</li>
                                  <%end%>
                                </ul>


                <%end%>

                            <%if current_user.nil?%>
                                  <li align="center" onclick="document.location='/users/sign_in'"><a class="class_a_href">[Login]</a></li>
                                  <li align="center" onclick="document.location='/users/sign_up'"><a class="class_a_href">[Sign_up]</a>
                                <%else%>
                                  <li align="center">[<%= current_user.worker.name%>]</li>
                                  <li align="center"><a href="<%=edit_user_registration_path%>" data-method="get">[Edit]</a></li>
                                  <li align="center"><a href="<%=destroy_user_session_path%>" data-method="delete">[Logout]</a>
                                  </li>
                            <%end%>

                        </ul>
                    </div>
                 
                
        </div>

    <div style="width:79%; float:right; margin-right:15px">
        <p class="alert" style="padding-bottom: 0px;padding-top: 0px;margin-top: 0px;margin-bottom: 0px;background:red;color:white;text-align:center;border-bottom-width: 0px;border-top-width: 0px;"><%=alert%></p>

        <p class="notice" style="margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;background: #0099cc; color:white; border-radius:5px;text-align:center"><%=notice%></p>
        
        <%= yield %>
      
    </div>
  </body>
</html>
